@function toRem($unit) {
  @return ($unit / $font-size-base) * 1rem;
}

$font-h2: toRem(48px);
$font-h6: toRem(16px);
$font-l: toRem(64px);
$font-m: toRem(24px);
$font-s: toRem(12px);

.font-roboto{
  font-family: 'Open Sans', sans-serif;
}
.font-raleway{
  font-family: 'Raleway', sans-serif;
}
.font-OpenSans{
  font-family: 'Open Sans', sans-serif;
}
html, body{
  font-size: $font-size-base;
  font-family: 'Open Sans', sans-serif;
}

.h2{
  font-size: $font-h2;
}
.h6{
  font-size: $font-h6;
}
.h6--verticalCenter{
  line-height:$font-h6 ;
}
.font-s{
  font-size:toRem(12px);
}