@function toRem($unit) {
  @return ($unit / $font-size-base) * 1rem;
}

$font-h2-md: toRem(48px);
$font-h2: toRem(24px);
$font-h3-md: toRem(32px);
$font-h3: toRem(24px);
$font-h6: toRem(16px);
$font-l: toRem(64px);
$font-m: toRem(14px);
$font-s: toRem(12px);

.font-roboto{
  font-family: 'Open Sans', sans-serif;
}
.font-raleway{
  font-family: 'Raleway', sans-serif;
}
.font-openSans{
  font-family: 'Open Sans', sans-serif;
}
html, body{
  font-size: $font-size-base;
  font-family: 'Open Sans', sans-serif;
}

.h2{
  font-size: $font-h2;
  @include media-breakpoint-up(lg) {
    font-size: $font-h2-md;
  }
}
.h3{
  font-size: $font-h3;
  @include media-breakpoint-up(lg) {
    font-size: $font-h3-md;
  }
}
.h6{
  font-size: $font-h6;
}
.h6--verticalCenter{
  line-height:$font-h6 ;
}
.font-s{
  font-size:$font-s;
}
.font-m{
  font-size:$font-m;
}