.full-width-row {
  @include media-breakpoint-down(sm) {
    padding-left: 0 ;
    padding-right: 0 ;
  }
}
.customer-no-gutters{
  @include media-breakpoint-down(sm){
    margin-right: 0;
    margin-left: 0;
  }
}
.customer-no-gutters > .col, .customer-no-gutters  > [class*="col-"] {
  @include media-breakpoint-down(sm){
    padding-right: 0;
    padding-left: 0;
  }
}