.index {
  .heroBanner {
    &__item1 {
      background-image: url(../images/slider/andrea-leopardi-3MTQ1HXQn-Q-unsplash.jpg);
    }
    &__item2 {
      background-image: url(../images/slider/taylor-simpson-EWcocEYrkAk-unsplash.jpg);
    }
    &__item3 {
      background-image: url(../images/slider/taylor-simpson-GdwGZbU8PgI-unsplash.jpg);
    }
    &__item4 {
      background-image: url(../images/slider/taylor-simpson-GxDo5JXcErw-unsplash.jpg);
    }
    &__title {
      z-index: 10;
      font-size: 2rem;
      @include media-breakpoint-up(md) {
        font-size: 3rem;
      }
    }
    &__button {
      &::after{
        font-size: 1rem;
      }
      @include media-breakpoint-up(lg) {
        padding-right: 20%;
        padding-left: 20%;
        &::after{
          font-size: 2rem;
        }
      }
    }
    &__swiper {
      width: 100%;
      height: 320px;
      @include media-breakpoint-up(lg) {
        height: 300px;
      }
      @include media-breakpoint-up(md) {
        height: 320px;
      }
    }
  }
  .searchBar {
    position: relative;
    transform: translateY(-20%);
    z-index: 2;
    @include media-breakpoint-up(lg) {
      transform: translateY(-50%);
    }
  }
  .choices {
    margin-bottom: 1rem;
    &__card {
      height: 164px;
      @include media-breakpoint-up(md) {
        height: 185px;
      }
      @include media-breakpoint-up(lg) {
        height: 175px;
      }
    }
    &__card1 {
      background-image: url(../images/hotel/siravit-phiwondee-xLor7ShIUAc-unsplash.jpg);
    }
    &__card2 {
      background-image: url(../images/hotel/taylor-simpson-xfAaM-PXYVo-unsplash.jpg);
    }
    &__card3 {
      background-image: url(../images/hotel/jared-rice-AhiUnolb7cg-unsplash.jpg);
    }
    &__card4 {
      background-image: url(../images/hotel/daniel-dinuzzo-qCjolcMFaLI-unsplash.jpg);
    }
    &__swiper {
      width: 98%;
      .swiper-button-next{
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
        background-color: $secondary;
        &::after{
          color: $dark;
          font-size: 1rem;
          font-weight: bold;
        }
      }
      @include media-breakpoint-up(md) {
        width: 95%;
      }
      @include media-breakpoint-up(lg) {
        width: 1110px;
        margin-right: 15px;
        margin-left: 15px;
      }
    }
  }
  .popular{
    .card{
      height: 78px;
    }
    &__item{
      .card-text{
        color: #FFFFFF98;
      }
    }
  }
  .inspiration{
    &__card{
      &__img{
        height: 181px;
        @include media-breakpoint-up(md) {
          height: 158px;
        }
        @include media-breakpoint-up(lg) {
          height: 263px;
        }
      }
      &__img1{
        background-image: url(../images/inspiration/dario-veronesi-lUO-BjCiZEA-unsplash.jpg);
      }
      &__img2{
        background-image: url(../images/inspiration/kiril-dobrev-MB1YI7cLOG4-unsplash.jpg);
      }
      &__img3{
        background-image: url(../images/inspiration/jeff-finley-bK8Wlaq7NaA-unsplash.jpg);
      }
    }
  }
  .subscribe{
    @include media-breakpoint-up(md) {
      padding-top: 92px;
      padding-bottom: 92px;
    }
    &__title {
      font-size: 1.5rem;
      @include media-breakpoint-up(md) {
        font-size: 3rem;
      }
    }
    &__input{
      @include media-breakpoint-down(sm) {
        padding-left: 1rem;
      }
    }
  }
}
