.index{
  .heroBanner{
    &__item1{
      background-image: url(../images/slider/andrea-leopardi-3MTQ1HXQn-Q-unsplash.jpg);
    }
    &__item2{
      background-image: url(../images/slider/taylor-simpson-EWcocEYrkAk-unsplash.jpg);
    }
    &__item3{
      background-image: url(../images/slider/taylor-simpson-GdwGZbU8PgI-unsplash.jpg);
    }
    &__item4{
      background-image: url(../images/slider/taylor-simpson-GxDo5JXcErw-unsplash.jpg);
    }
    &__title{
      z-index: 10;
    }
    &__button{
      @include media-breakpoint-up(lg) {
        padding-right: 20%;
        padding-left: 20%;
      }
    }
  }
  .searchBar{
    position: relative;
    transform: translateY(-50%);
    z-index: 2;
  }
  .choices{
    &__card{
      height: 164px;
      @include media-breakpoint-up(md) {
        height: 185px;
      }
      @include media-breakpoint-up(lg) {
        height: 175px;
      }
    }
    &__card1{
      background-image: url(../images/hotel/siravit-phiwondee-xLor7ShIUAc-unsplash.jpg);
    }
    &__card2{
      background-image: url(../images/hotel/taylor-simpson-xfAaM-PXYVo-unsplash.jpg);
    }
    &__card3{
      background-image: url(../images/hotel/jared-rice-AhiUnolb7cg-unsplash.jpg);
    }
    &__card4{
      background-image: url(../images/hotel/daniel-dinuzzo-qCjolcMFaLI-unsplash.jpg);
    }
  }
  .choices__swiper{
    width: 100%;
    .swiper-wrapper {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}