.modal-backdrop{
  display: none;
}
.result{
  margin-bottom: 4.5rem;
  &__filter{
    a{
      transition: all 0.5s;
      color: $dark;
      &.active{
        color: $primary;
      }
      &:hover{
        color: lighten($primary, 20%);
      }
    }
    &__dropdown.d-flex{
      @include media-breakpoint-down(sm){
        background-color: $secondary;
        border-radius: 0.5rem;
        padding: 0.5rem;
        flex-direction: column;
        position: absolute;
        top: 110%;
        z-index: 3;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        a{
          padding-top: 0.8rem;
          padding-bottom: 0.8rem;
          padding-left: 1rem;
        }
      }
    }
  }
  &__modal{
    background-color: $secondary;
    @include media-breakpoint-up(md) {
      background-color: transparent;
    }
    &__body{
      @include media-breakpoint-down(sm) {
        margin-bottom: 25vh;
        margin-top: 60px;
      }
    }
    &__footer{
      background-color: rgba($gray, 0.8);
      border-top-right-radius: 0.8rem;
      border-top-left-radius: 0.8rem;
      border: 0;
      padding: 0.75rem;
      height: 25vh;
    }
    &__btn{
      flex: 5;
      display: block;
    }
  }
  &__search{
    .hotelsDetails{
      &__img{
        height: 150px;
        @include media-breakpoint-up(md) {
          height: 175px;
        }
      }
      &__swiper{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transition: all 1s;
        @include media-breakpoint-up(md) {
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
        }
        &:hover{
          .hotelsDetails__button{
            display: flex;
          }
        }
      }
      &__button{
        transition: all 0.5s;
        display: none;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 1.8rem;
        top: 57%;
      }
      .swiper-button-next, .swiper-button-prev{
        background-color: $secondary;
        &::after{
          color: $dark;
          font-size: 1rem;
          font-weight: bold;
        }
      }
      &__card{
        &:not(:last-child){
          border-bottom: $secondary 4px solid;
          @include media-breakpoint-up(md) {
            border-bottom: $secondary 1px solid
          }
        }
        .card-body{
          @include media-breakpoint-down(sm) {
            padding: 0.5rem;
          }
        }
        &__starText{
          font-size: 12px;
          @include media-breakpoint-up(lg) {
            font-size: 14px;
          }
        }
        &__title{
          font-size: 16px;
          color: $dark;
          @include media-breakpoint-up(lg) {
            font-size: 20px;
          }
        }
        &__price{
          font-size: 16px;
          color: $dark;
          @include media-breakpoint-up(lg) {
            font-size: 24px;
          }
        }
        &__price--del{
          font-size: 12px;
          color: $dark;
          @include media-breakpoint-up(md) {
            font-size: 14px;
          }
          @include media-breakpoint-up(lg) {
            font-size: 16px;
          }
        }
        &__room{
          font-size: 14px;
          @include media-breakpoint-up(lg) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

