.daterangepicker {
  border:0;
  margin-top: 0.8rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  top: 100%;
  left: -32px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  // line-height: 1em;
  &::after, &::before{
    display: none;
  }
  .left::after{
    content: '';
    display: block;
    position: absolute;
    right: 50%;
    top: 55%;
    transform: translateY(-50%);
    width: 2px;
    height: 80%;
    background-color: $gray-200;
  }
}
// .daterangepicker .drp-calendar.left .calendar-table {
//   padding-right: 0;
// }
// .daterangepicker .drp-calendar.right {
//   padding-left: 0;
// }
.daterangepicker td.in-range {
    background-color: $secondary;
  }
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
  width: 2.8rem;
  height: 2.2rem;
  line-height: 2.2rem;
  font-size: 14px;
  color: $gray-800;
  padding: 2px;
}
.daterangepicker .calendar-table th.month {
  font-size: 1rem;
  text-transform: uppercase;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: $primary;
  color: $white;
}