.modalMenu{
  background-color: rgba($gray, 0.8);
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  border: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  height: 23vh;
  bottom: -23vh;
  @include media-breakpoint-up(md) {
    height: 100px;
    bottom: -100px;
  }
  &--fromBottom{
    bottom: 0;
  }
  &.animate{
    bottom: 0;
  }
}