.searchBar {
  background-color: $secondary;
  display: flex;
  justify-content: space-between;
  &__group {
    background-color: $white;
    position: relative;
    flex: 1;
    &__heading {
      display: flex;
      align-items: center;
      height: 100%;
      h6 {
        line-height: 36px;
      }
    }
    &:not(:last-child) {
      @include media-breakpoint-up(md) {
        margin-right: 0.8rem;
      }
    }
  }

  &__dropdown-item {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 3;
    width: 100%;
    text-align: left;
  }
  &__icon::before {
    position: absolute;
    // left: 10px;
    // top: 2px;
    font-family: 'Material Icons';
    font-size: 1.429rem;
    line-height: 1.714rem;
    pointer-events: none;
  }
  &__icon--dateRange::before  {
    content: 'date_range';
  }
  &__input{
    border: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding-left: 2rem;
  }
  input:focus, input:active{
    outline: none;
  }
}
